DroneSensors.js
[{"id":"7e8ce23.11d8c1c","type":"tab","label":"Drone Sensors ","disabled":false,"info":""},{"id":"e224326a.6a82f","type":"ibmiot in","z":"7e8ce23.11d8c1c","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Drone1","applicationId":"","deviceType":"Dronestest","eventType":"event","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":150,"y":300,"wires":[["17c69c93.991693","4bab4180.07253","694694d1.ddeacc","3c9d028d.f7446e","547bb5f6.b2d1ec","78e0291f.e5f238","247e0762.fcac18","d13f5581.36e318"]]},{"id":"17c69c93.991693","type":"function","z":"7e8ce23.11d8c1c","name":"Temperature","func":"var lines = msg.payload.d.temp\nlines=(lines*1.8)+ 32;\nconst count = lines.toFixed(2);\nmsg.payload = parseFloat(count);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["8fc92bd2.a2d348"]]},{"id":"4bab4180.07253","type":"function","z":"7e8ce23.11d8c1c","name":"Gas","func":"var lines = msg.payload.d.Gas\nmsg.payload = lines;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["e832af54.32c32"]]},{"id":"8fc92bd2.a2d348","type":"ui_gauge","z":"7e8ce23.11d8c1c","name":"","group":"435fcb3c.edc7f4","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Fahrenheit ","format":"{{value}}","min":"1","max":"120","colors":["#00b500","#0000a0","#f86f0a"],"seg1":"","seg2":"","x":670,"y":100,"wires":[]},{"id":"e832af54.32c32","type":"ui_gauge","z":"7e8ce23.11d8c1c","name":"","group":"1e7ffad5.c22d35","order":2,"width":0,"height":0,"gtype":"gage","title":"Gas Quality","label":"ohm","format":"{{value}}","min":0,"max":"1400000","colors":["#0000a0","#0000a0","#b63030"],"seg1":"","seg2":"","x":670,"y":160,"wires":[]},{"id":"694694d1.ddeacc","type":"function","z":"7e8ce23.11d8c1c","name":"Humidity","func":"var lines = msg.payload.d.Humidity\nmsg.payload = lines;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":80,"wires":[["762fc699.3fc108"]]},{"id":"762fc699.3fc108","type":"ui_gauge","z":"7e8ce23.11d8c1c","name":"","group":"435fcb3c.edc7f4","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#0000a0","#ca3838"],"seg1":"","seg2":"","x":680,"y":40,"wires":[]},{"id":"fd61c92d.d012c8","type":"ui_chart","z":"7e8ce23.11d8c1c","name":"Pressure","group":"1e7ffad5.c22d35","order":3,"width":"8","height":"6","label":"Pressure","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"The pressure at sea level for your location","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#0000a0","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":660,"y":280,"wires":[[],[]]},{"id":"3c9d028d.f7446e","type":"function","z":"7e8ce23.11d8c1c","name":"Pressure","func":"var lines = msg.payload.d.Pressure\nmsg.payload = lines;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":320,"wires":[["fd61c92d.d012c8"]]},{"id":"547bb5f6.b2d1ec","type":"function","z":"7e8ce23.11d8c1c","name":"Altitude","func":"var lines = msg.payload.d.Altitude\nmsg.payload = lines;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["332e17ff.57d158"]]},{"id":"332e17ff.57d158","type":"ui_chart","z":"7e8ce23.11d8c1c","name":"","group":"1e7ffad5.c22d35","order":4,"width":"8","height":"6","label":"Altitude","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#0000a0","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":220,"wires":[[],[]]},{"id":"78e0291f.e5f238","type":"function","z":"7e8ce23.11d8c1c","name":"Temp","func":"var lines = msg.payload.d.temp\nlines=(lines*1.0);\nconst count = lines.toFixed(2);\nmsg.payload = parseFloat(count);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["def964d8.217688"]]},{"id":"def964d8.217688","type":"ui_gauge","z":"7e8ce23.11d8c1c","name":"Temperature","group":"435fcb3c.edc7f4","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"70","colors":["#0000a0","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":360,"wires":[]},{"id":"b467d97b.bcdaa8","type":"ui_dropdown","z":"7e8ce23.11d8c1c","name":"","label":"","place":"Select option","group":"d1a0b0a7.0dc1","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"SKYDRNO1","value":"0","type":"str"},{"label":"SKYDRNO2","value":"1","type":"str"},{"label":"SKYDRNO3","value":"2","type":"str"},{"label":"SKYDRNO4","value":"3","type":"str"}],"payload":"","topic":"","x":460,"y":900,"wires":[[]]},{"id":"a38c125d.e5cd1","type":"ui_button","z":"7e8ce23.11d8c1c","name":"","group":"d1a0b0a7.0dc1","order":1,"width":0,"height":0,"passthru":false,"label":"Aeronyde Live Streaming Dashboard","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":860,"wires":[[]]},{"id":"4123887f.14d138","type":"ibmiot in","z":"7e8ce23.11d8c1c","authentication":"boundService","apiKey":"70b4ae9a.bd462","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Drone1","applicationId":"","deviceType":"Dronestest","eventType":"TEST","commandType":"","format":"string","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":630,"y":900,"wires":[["7ddc4538.8845bc"]]},{"id":"7ddc4538.8845bc","type":"debug","z":"7e8ce23.11d8c1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":900,"wires":[]},{"id":"247e0762.fcac18","type":"function","z":"7e8ce23.11d8c1c","name":"Rain","func":"var lines = msg.payload.d.temp\nlines=(lines*1.0);\nconst count = lines.toFixed(2);\nmsg.payload = parseFloat(count);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":440,"wires":[["d64f2983.31b898"]]},{"id":"d64f2983.31b898","type":"ui_gauge","z":"7e8ce23.11d8c1c","name":"Rain","group":"435fcb3c.edc7f4","order":4,"width":0,"height":0,"gtype":"gage","title":"Rain","label":"Celsius","format":"{{value}}","min":0,"max":"70","colors":["#0000a0","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":420,"wires":[]},{"id":"d13f5581.36e318","type":"function","z":"7e8ce23.11d8c1c","name":"Snow","func":"var lines = msg.payload.d.temp\nlines=(lines*1.0);\nconst count = lines.toFixed(2);\nmsg.payload = parseFloat(count);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":500,"wires":[["9832f3c9.64f7b"]]},{"id":"9832f3c9.64f7b","type":"ui_gauge","z":"7e8ce23.11d8c1c","name":"Snow","group":"435fcb3c.edc7f4","order":4,"width":0,"height":0,"gtype":"gage","title":"Snow","label":"Celsius","format":"{{value}}","min":0,"max":"70","colors":["#0000a0","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":480,"wires":[]},{"id":"435fcb3c.edc7f4","type":"ui_group","z":"","name":"","tab":"7d0088ac.cf5f28","order":3,"disp":true,"width":"9","collapse":true},{"id":"1e7ffad5.c22d35","type":"ui_group","z":"","name":"","tab":"7d0088ac.cf5f28","order":4,"disp":true,"width":"8","collapse":false},{"id":"d1a0b0a7.0dc1","type":"ui_group","z":"","name":"","tab":"405dfc08.905374","order":1,"disp":true,"width":"6","collapse":false},{"id":"70b4ae9a.bd462","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7d0088ac.cf5f28","type":"ui_tab","z":"","name":"System Health","icon":"perm_data_setting","order":2},{"id":"405dfc08.905374","type":"ui_tab","z":"","name":"Live Streaming","icon":"visibility","order":4}]
