IBMWeather.js

[{"id":"22bd6b1e.914854","type":"tab","label":"IBM Weather API","disabled":false,"info":""},{"id":"2fdbe86.679ca18","type":"weather_insights","z":"22bd6b1e.914854","name":"Current weather","host":"twcservice.mybluemix.net","service":"/observations.json","geocode":"","units":"m","language":"en-US","x":268.5,"y":518,"wires":[["76bec511.033e1c","5a2ededf.a4c34","dcc9f3f6.c41df","13195918.468cf7","add4db05.7f9ff8"]]},{"id":"1763f34.ad0770d","type":"debug","z":"22bd6b1e.914854","name":"complete weather object","active":false,"tosidebar":true,"console":false,"complete":"true","x":290,"y":600,"wires":[]},{"id":"76bec511.033e1c","type":"function","z":"22bd6b1e.914854","name":"Filter Temp","func":"/*mytext = \"Aktuelle Temperatur in \"\nmytext = mytext + msg.observation.obs_name + \": \";\nmytext = mytext + msg.observation.temp + \"°C\";\nreturn {payload: mytext};*/\nmsg={\n  temp: msg.observation.temp,\n  city: msg.observation.obs_name\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":500,"wires":[["61620f16.4a5c3"]]},{"id":"d2dd4fbf.7b374","type":"debug","z":"22bd6b1e.914854","name":"Output","active":true,"tosidebar":true,"console":false,"complete":"payload","x":1150,"y":360,"wires":[]},{"id":"e9471710.249918","type":"watson-text-to-speech","z":"22bd6b1e.914854","name":"Say it ... (in german)","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"7Mda4pdqCxuv","apikey":"","payload-response":false,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":240,"y":740,"wires":[["376fa294.348efe"]]},{"id":"376fa294.348efe","type":"function","z":"22bd6b1e.914854","name":"Adjust speech buffer","func":"return {payload:msg.speech};\n","outputs":1,"noerr":0,"x":480,"y":760,"wires":[[]]},{"id":"252b7e2b.aa44d2","type":"http request","z":"22bd6b1e.914854","name":"Geolocation Service","method":"GET","ret":"obj","url":"","tls":"","x":774.5,"y":265,"wires":[["fd79f3e9.02291","2f6c4d23.667f22"]]},{"id":"fd79f3e9.02291","type":"debug","z":"22bd6b1e.914854","name":"Geo","active":false,"tosidebar":true,"console":false,"complete":"true","x":750.5,"y":342,"wires":[]},{"id":"4a138725.dfe0b8","type":"inject","z":"22bd6b1e.914854","name":"","topic":"Inject","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":170,"y":100,"wires":[["289bb755.cdf678"]]},{"id":"289bb755.cdf678","type":"function","z":"22bd6b1e.914854","name":"Define location","func":"msg={\n  street: \"Lake Washington RD\",\n  city: \"Melbourne\",\n  country: \"USA\"\n  }\nmsg={\n  street: \"E University Blvd\",\n  city: \"Melbourne\",\n  country: \"USA\"\n  }\n    \nreturn msg;","outputs":1,"noerr":0,"x":268.5,"y":268,"wires":[["50253057.6cf5a","b0c9455.dbdbbb8"]]},{"id":"61620f16.4a5c3","type":"template","z":"22bd6b1e.914854","name":"Build full answer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperatur in {{city}}: {{temp}} °C","x":724.5,"y":517,"wires":[["e9471710.249918"]]},{"id":"50253057.6cf5a","type":"template","z":"22bd6b1e.914854","name":"Build URL for OSM","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://nominatim.openstreetmap.org/search?q={{street}},+{{city}},+{{country}}&format=json\n","x":521.5,"y":265,"wires":[["d3635e28.cc7ac","252b7e2b.aa44d2"]]},{"id":"b0c9455.dbdbbb8","type":"debug","z":"22bd6b1e.914854","name":"Loc","active":false,"console":"false","complete":"true","x":253.5,"y":342,"wires":[]},{"id":"d3635e28.cc7ac","type":"debug","z":"22bd6b1e.914854","name":"URL","active":true,"console":"false","complete":"true","x":504,"y":341,"wires":[]},{"id":"2e1b40e9.fe8c9","type":"debug","z":"22bd6b1e.914854","name":"Geopos","active":true,"console":"false","complete":"payload","x":1140,"y":120,"wires":[]},{"id":"2f6c4d23.667f22","type":"function","z":"22bd6b1e.914854","name":"Geopos","func":"msg.payload=msg.payload[0].lat+\",\"+msg.payload[0].lon\nreturn msg;","outputs":1,"noerr":0,"x":1014.5,"y":265,"wires":[["2e1b40e9.fe8c9","2fdbe86.679ca18","b7ec8bbb.7c21e8"]]},{"id":"d0f4091d.daf078","type":"comment","z":"22bd6b1e.914854","name":"TEST IBM","info":"* Provide http-Service here (to be used by Web-/Mobile-App)\n* Let Watson Conversation ask for the location (instead of hard code it)","x":117,"y":909,"wires":[]},{"id":"cd5fe055.94a31","type":"comment","z":"22bd6b1e.914854","name":"Initiator: manual (inject)","info":"","x":152,"y":63,"wires":[]},{"id":"84aee2f3.03593","type":"comment","z":"22bd6b1e.914854","name":"Location: adress (here: \"hard coded\")","info":"","x":206,"y":193,"wires":[]},{"id":"ee569579.51bae8","type":"comment","z":"22bd6b1e.914854","name":"Find geo position of adress (external service: Openstreetmap)","info":"","x":660,"y":196,"wires":[]},{"id":"d55fe4e9.fae918","type":"comment","z":"22bd6b1e.914854","name":"Get weather data for geo position, extract the temperature value and create full answer from it","info":"","x":379,"y":445,"wires":[]},{"id":"ce7d67d9.790df8","type":"comment","z":"22bd6b1e.914854","name":"Convert answer to speech (temperature at selected address)","info":"","x":280,"y":681,"wires":[]},{"id":"5a2ededf.a4c34","type":"function","z":"22bd6b1e.914854","name":"","func":"var lines =  msg.observation.temp\nlines=(lines*1.8)+ 32;\nconst count = lines.toFixed(2);\nmsg.payload = parseFloat(count);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":560,"wires":[["fed54a63.efe7a8"]]},{"id":"a147ec14.0d52c","type":"debug","z":"22bd6b1e.914854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":600,"wires":[]},{"id":"fed54a63.efe7a8","type":"ui_gauge","z":"22bd6b1e.914854","name":"","group":"25f9bc5a.696874","order":2,"width":0,"height":0,"gtype":"gage","title":"Current Weather","label":"Fahrenheit","format":"{{value}}","min":0,"max":"120","colors":["#0000a0","#0000a0","#ca3838"],"seg1":"","seg2":"","x":920,"y":600,"wires":[]},{"id":"b2c0cf82.ba515","type":"ui_button","z":"22bd6b1e.914854","name":"","group":"5927dc25.b108f4","order":1,"width":0,"height":0,"passthru":false,"label":"Weather Company Data For IBM","color":"","bgcolor":"Dark Blue","icon":"","payload":"","payloadType":"str","topic":"","x":1320,"y":460,"wires":[[]]},{"id":"dcc9f3f6.c41df","type":"function","z":"22bd6b1e.914854","name":"","func":"var lines =  msg.observation.wspd\nconst count = lines.toFixed(2);\nmsg.payload = parseFloat(count);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":660,"wires":[["735ea27f.c5a54c"]]},{"id":"735ea27f.c5a54c","type":"ui_gauge","z":"22bd6b1e.914854","name":"","group":"25f9bc5a.696874","order":4,"width":0,"height":0,"gtype":"gage","title":"Wind speed","label":" kilometers/hour","format":"{{value}}","min":0,"max":"300","colors":["#0000a0","#0000a0","#ca3838"],"seg1":"","seg2":"","x":890,"y":760,"wires":[]},{"id":"13195918.468cf7","type":"function","z":"22bd6b1e.914854","name":"","func":"var lines =  msg.observation.rh\nconst count = lines.toFixed(2);\nmsg.payload = parseFloat(count);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":620,"wires":[["c2a687f0.639938"]]},{"id":"c2a687f0.639938","type":"ui_gauge","z":"22bd6b1e.914854","name":"Humidity","group":"25f9bc5a.696874","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#0000a0","#0000a0","#ca3838"],"seg1":"","seg2":"","x":880,"y":660,"wires":[]},{"id":"2b12d33c.d4f32c","type":"html","z":"22bd6b1e.914854","name":"","property":"payload","outproperty":"payload","tag":"","ret":"html","as":"single","x":1740,"y":660,"wires":[[]]},{"id":"4d08c84f.7e2278","type":"ui_button","z":"22bd6b1e.914854","name":"","group":"25f9bc5a.696874","order":1,"width":0,"height":0,"passthru":false,"label":"Current Conditions","color":"","bgcolor":"Dark Blue","icon":"","payload":"","payloadType":"str","topic":"","x":1310,"y":800,"wires":[[]]},{"id":"b7ec8bbb.7c21e8","type":"weather_insights","z":"22bd6b1e.914854","name":"Current weather","host":"twcservice.mybluemix.net","service":"/forecast/hourly/48hour.json","geocode":"","units":"m","language":"en-US","x":220,"y":1080,"wires":[["edb61d2a.16ffc","2e95465c.9ce69a","a124aaf1.b6e318","d6a7c5b3.6fe898","8bed2ad1.552bd8","2dafcfa4.e796b"]]},{"id":"edb61d2a.16ffc","type":"function","z":"22bd6b1e.914854","name":"","func":"var lines =  msg.forecasts[6].temp\nlines=(lines*1.8)+ 32;\nconst count = lines.toFixed(2);\nmsg.payload = parseFloat(count);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":920,"wires":[["c252c149.a3eeb"]]},{"id":"c252c149.a3eeb","type":"ui_gauge","z":"22bd6b1e.914854","name":"","group":"837a531.414e7b","order":2,"width":0,"height":0,"gtype":"gage","title":"Weather","label":"Fahrenheit","format":"{{value}}","min":0,"max":"120","colors":["#0000a0","#0000a0","#ca3838"],"seg1":"","seg2":"","x":740,"y":1040,"wires":[]},{"id":"c7038c77.8d598","type":"ui_button","z":"22bd6b1e.914854","name":"","group":"837a531.414e7b","order":1,"width":0,"height":0,"passthru":false,"label":"Weather for the Next 6 Hours","color":"","bgcolor":"Dark Blue","icon":"","payload":"","payloadType":"str","topic":"","x":1340,"y":880,"wires":[[]]},{"id":"2e95465c.9ce69a","type":"function","z":"22bd6b1e.914854","name":"","func":"var lines =  msg.forecasts[6].rh\nconst count = lines.toFixed(2);\nmsg.payload = parseFloat(count);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1020,"wires":[["7cc664a7.7b137c"]]},{"id":"7cc664a7.7b137c","type":"ui_gauge","z":"22bd6b1e.914854","name":"Humidity","group":"837a531.414e7b","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#0000a0","#0000a0","#ca3838"],"seg1":"","seg2":"","x":740,"y":1120,"wires":[]},{"id":"a124aaf1.b6e318","type":"function","z":"22bd6b1e.914854","name":"","func":"var lines =  msg.forecasts[6].wspd\nconst count = lines.toFixed(2);\nmsg.payload = parseFloat(count);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1120,"wires":[["bafe10dd.cb8f"]]},{"id":"bafe10dd.cb8f","type":"ui_gauge","z":"22bd6b1e.914854","name":"","group":"837a531.414e7b","order":4,"width":0,"height":0,"gtype":"gage","title":"Wind speed","label":" kilometers/hour","format":"{{value}}","min":0,"max":"300","colors":["#0000a0","#0000a0","#ca3838"],"seg1":"","seg2":"","x":730,"y":1200,"wires":[]},{"id":"7a017e3e.43e25","type":"ui_text","z":"22bd6b1e.914854","group":"5927dc25.b108f4","order":7,"width":0,"height":0,"name":"","label":"Weather Alerts : Headlines and Details","format":"{{msg.payload}}","layout":"row-spread","x":1370,"y":920,"wires":[]},{"id":"2cc56d98.87b6b2","type":"ui_text","z":"22bd6b1e.914854","group":"5927dc25.b108f4","order":9,"width":0,"height":0,"name":"","label":"Daily Forecast : Weather for 3, 5, 7, or 10 Days","format":"{{msg.payload}}","layout":"row-spread","x":1400,"y":1000,"wires":[]},{"id":"d65ca8ef.733d28","type":"ui_text","z":"22bd6b1e.914854","group":"5927dc25.b108f4","order":10,"width":0,"height":0,"name":"","label":"Hourly Forecast : Weather for the Next 48 Hours","format":"{{msg.payload}}","layout":"row-spread","x":1400,"y":1040,"wires":[]},{"id":"e20a2a92.47c2a8","type":"ui_text","z":"22bd6b1e.914854","group":"5927dc25.b108f4","order":8,"width":0,"height":0,"name":"","label":"Current Conditions : Weather Observations","format":"{{msg.payload}}","layout":"row-spread","x":1390,"y":960,"wires":[]},{"id":"8550db2c.4d6c98","type":"ui_gauge","z":"22bd6b1e.914854","name":"","group":"5927dc25.b108f4","order":4,"width":0,"height":0,"gtype":"donut","title":"Rain","label":"Rain","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":1260,"wires":[]},{"id":"d6a7c5b3.6fe898","type":"function","z":"22bd6b1e.914854","name":"","func":"msg.payload =1\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1220,"wires":[["8550db2c.4d6c98"]]},{"id":"3c637032.1778d","type":"ui_gauge","z":"22bd6b1e.914854","name":"","group":"5927dc25.b108f4","order":5,"width":0,"height":0,"gtype":"donut","title":"Snow","label":"Snow","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":1340,"wires":[]},{"id":"8bed2ad1.552bd8","type":"function","z":"22bd6b1e.914854","name":"","func":"msg.payload =0\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1320,"wires":[["3c637032.1778d"]]},{"id":"add4db05.7f9ff8","type":"function","z":"22bd6b1e.914854","name":"","func":"var lines =  msg.observation.pressure\nconst count = lines.toFixed(2);\nmsg.payload = parseFloat(count);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":700,"wires":[["eab6b1ce.d1898"]]},{"id":"eab6b1ce.d1898","type":"ui_chart","z":"22bd6b1e.914854","name":"","group":"25f9bc5a.696874","order":5,"width":0,"height":0,"label":"Atmospheric Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":900,"y":820,"wires":[[],[]]},{"id":"31c885f9.58e4ca","type":"ui_chart","z":"22bd6b1e.914854","name":"","group":"837a531.414e7b","order":5,"width":0,"height":0,"label":"Atmospheric Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":760,"y":1440,"wires":[[],[]]},{"id":"2dafcfa4.e796b","type":"function","z":"22bd6b1e.914854","name":"","func":"var lines =  msg.forecasts[6].mslp\nconst count = lines.toFixed(2);\nmsg.payload = parseFloat(count);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1420,"wires":[["31c885f9.58e4ca"]]},{"id":"25f9bc5a.696874","type":"ui_group","z":"","name":"","tab":"b5a0bd60.1f733","order":2,"disp":true,"width":"8","collapse":false},{"id":"5927dc25.b108f4","type":"ui_group","z":"","name":"","tab":"b5a0bd60.1f733","order":1,"disp":true,"width":"8","collapse":false},{"id":"837a531.414e7b","type":"ui_group","z":"","name":"","tab":"b5a0bd60.1f733","order":3,"disp":true,"width":"8","collapse":false},{"id":"b5a0bd60.1f733","type":"ui_tab","z":"","name":"Weather Company Data","icon":"wi-wu-sunny","order":3}]
