LiveStreaming.js
[{"id":"fd4aebce.f6c068","type":"tab","label":"Live Streaming","disabled":false,"info":""},{"id":"7c212847.c38848","type":"http response","z":"fd4aebce.f6c068","name":"","x":1451.43310546875,"y":601.2500305175781,"wires":[]},{"id":"cc60404e.f12fa","type":"inject","z":"fd4aebce.f6c068","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":320,"y":1000,"wires":[["6723f703.84bf98"]]},{"id":"b0b7088a.5b2438","type":"debug","z":"fd4aebce.f6c068","name":"","active":true,"console":"false","complete":"true","x":790,"y":1000,"wires":[]},{"id":"6723f703.84bf98","type":"weather_insights","z":"fd4aebce.f6c068","name":"","host":"","service":"/observations/timeseries.json?hours=23","geocode":"45.42,75.69","units":"m","language":"en-US","x":560,"y":1000,"wires":[["b0b7088a.5b2438"]]},{"id":"79b68ede.4f33d","type":"ui_switch","z":"fd4aebce.f6c068","name":"","label":"Camera 1 ","group":"d1a0b0a7.0dc1","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":360,"y":200,"wires":[["9a60772e.4647b8"]]},{"id":"9a60772e.4647b8","type":"ibmiot out","z":"fd4aebce.f6c068","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"Drone2","deviceType":"Dronestest","eventCommandType":"test","format":"string","data":"\"testing\"","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":180,"wires":[]},{"id":"a6e4288a.be5d38","type":"inject","z":"fd4aebce.f6c068","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":120,"wires":[["9a60772e.4647b8"]]},{"id":"848a8370.98faf","type":"ui_switch","z":"fd4aebce.f6c068","name":"","label":"Camera 2 ","group":"d1a0b0a7.0dc1","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":360,"y":260,"wires":[["e646f388.6a4bd"]]},{"id":"e646f388.6a4bd","type":"ibmiot out","z":"fd4aebce.f6c068","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"Drone3","deviceType":"Dronestest","eventCommandType":"test","format":"string","data":"\"testing\"","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":280,"wires":[]},{"id":"9a137df2.24652","type":"ui_switch","z":"fd4aebce.f6c068","name":"","label":"Camera 3","group":"d1a0b0a7.0dc1","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":360,"y":340,"wires":[["4b3a22d0.9f439c"]]},{"id":"b6dc7795.5cb348","type":"ui_switch","z":"fd4aebce.f6c068","name":"","label":"Camera 4","group":"d1a0b0a7.0dc1","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":420,"wires":[["e832b82b.c0f468"]]},{"id":"4b3a22d0.9f439c","type":"ibmiot out","z":"fd4aebce.f6c068","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"Drone3","deviceType":"Dronestest","eventCommandType":"test","format":"string","data":"\"testing\"","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":360,"wires":[]},{"id":"e832b82b.c0f468","type":"ibmiot out","z":"fd4aebce.f6c068","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"Drone3","deviceType":"Dronestest","eventCommandType":"test","format":"string","data":"\"testing\"","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":440,"wires":[]},{"id":"d1a0b0a7.0dc1","type":"ui_group","z":"","name":"","tab":"405dfc08.905374","order":1,"disp":true,"width":"6","collapse":false},{"id":"405dfc08.905374","type":"ui_tab","z":"","name":"Live Streaming","icon":"visibility","order":4}]
